@use "variables"; // Importer les variables SCSS

:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  background: url('src/assets/outdoor3_comp.jpg') center center/cover no-repeat !important;
  background-attachment: fixed !important;
  // height: 100vh;
  // width: 100vw;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.half-width {
  flex: 0 0 250px; // largeur fixe sur desktop
  max-width: 220px;
  min-width: 0;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: variables.$white;
    border-radius: 1rem;
    padding: 2rem;

    h2 {
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 40px;
        margin-top: 20px;
        color: variables.$blue3;
    }

    .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 20px;
    width: 100%;
    h3 {
      text-align: center;
      font-weight: 400;
      color: variables.$black;
      font-size: 20px;
    }
     .resetPasswordBtn {
      position: relative;
      margin: 0px;
      width: 40%;
      min-width: 200px;

      .resetPasswordError {
        position: absolute;
        top: 35px;
        color: variables.$red2;
        font-size: 0.8rem;
        text-align: center;
        margin: 0px;
      }
      span {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin: 0px;
      }

    }
    margin-bottom: 40px;
  }

}


.passwordResetSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    p {
        text-align: center;
        font-size: 14px;
        color: variables.$black;
        margin: 0px;
    }

    button {
        margin-top: 40px;
        width: 150px;
    }
}