@use "variables";

.imo-alert {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 5000;
}

.imo-alert--success {
    background-color: variables.$green4;
}

.imo-alert--error {
    background-color: variables.$red3;
}
