@font-face {
    font-family: "Avenir LT";
    font-weight: 100;
    src: url("../assets/fonts/AvenirLTStd-Light.woff2");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 300;
    src: url("../assets/fonts/AvenirLTStd-Book.woff2");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 400;
    src: url("../assets/fonts/AvenirLTStd-Roman.woff");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 500;
    src: url("../assets/fonts/AvenirLTStd-Medium.woff2");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 600;
    src: url("../assets/fonts/AvenirLTStd-Heavy.woff2");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 900;
    src: url("../assets/fonts/AvenirLTStd-Black.woff");
}
