@use "variables";

.app-input {
    border: none;
    border-bottom: 2px solid variables.$black;
    border-radius: 2px;
    background-color: variables.$gray4;
    padding: 0.3rem 1.3rem;
}

.imo-invalid-input {
    color: variables.$red3 !important;

    &::placeholder {
        color: variables.$red3 !important;
    }

    input::placeholder {
        color: variables.$red3 !important;
    }

    * {
        color: variables.$red3 !important;
    }
}
