@use "variables";

.app-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid variables.$black;
    overflow: scroll;

    thead {
        background-color: variables.$black;
        color: variables.$white;
        font-weight: 500;

        td {
            padding: 0.5rem;
        }

        td:not(:last-child) {
            border-right: 2px solid variables.$white;
        }
    }

    tbody {
        td {
            padding: 0;
            border: 2px solid variables.$black;
            position: relative;

            * {
                background-color: variables.$white !important;
                outline: none !important;
                border: none !important;
            }
        }
    }
}
